body {
  margin: 0;
  font-family: sans-serif;
  color: white;
}

h1 {
  font-size: 2rem;
  font-family: Playfair Display, serif;
  text-align: left;
}

canvas {
  z-index: 0;
  background-color: black;
}

.wrapper {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 15vh);
  max-width: 720px;
  height: calc(100vh - 15vh);
  box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  text-align: center;
  box-sizing: border-box;
  padding: 2rem;
}
