body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  color: black;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgb(164, 255, 214);
  background: linear-gradient(
    135deg,
    rgba(164, 255, 214, 1) 0%,
    rgba(208, 166, 255, 1) 100%
  );
}

.wrapper {
  margin: 3vh auto; /* Centering horizontally */
  width: calc(100vw - 6vh);
  max-width: 720px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  padding: 2rem;
  overflow-y: auto;
}

h1 {
  font-size: 2rem;
  font-family: Impact;
  text-align: left;
  margin: 0;
}

h2 {
  text-align: center;
  margin: 40px 0px;
}

h3 {
  font-style: italic;
  text-align: center;
  margin: 40px 0px;
}

p {
  font-weight: bold;
}

hr {
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 40px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-top: 40px;
}

.container {
  display: flex; /* Establishes a flex container for horizontal centering */
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
}

/* The p element */
.container p {
  margin-right: 10px; /* Adds a right margin to the switch */
}

/* The label element */
.container .switch {
  display: flex; /* Uses flex for easy centering */
  align-items: center; /* Vertically centers the content */
  gap: 10px; /* Space between the elements */
}

/* The switch element */
.switch {
  display: flex; /* Uses flex for easy centering */
  align-items: center; /* Centers content vertically */
  gap: 10px; /* Space between the elements */
}

.switch input {
  display: none; /* Hides the actual checkbox element */
}

.switch span {
  background-color: #ccc; /* The grey background of the switch */
  border-radius: 17px; /* Rounded corners for the switch */
  cursor: pointer; /* Pointer cursor on hover over the switch */
  height: 34px;
  width: 64px; /* Size of the switch */
  position: relative; /* For positioning the circular button */
  transition: background-color 0.4s; /* Transition effect for the background */
}

.switch span::before {
  content: ""; /* The circular button inside the switch */
  position: absolute;
  left: 4px;
  bottom: 4px;
  height: 26px;
  width: 26px;
  background-color: white; /* Background color of the button */
  border-radius: 50%; /* Circle shape */
  transition: transform 0.4s; /* Transition effect for movement */
}

input:checked + span {
  background-color: rgba(
    164,
    255,
    214,
    1
  ); /* Background color of the switch when checked */
}

input:checked + span::before {
  transform: translateX(30px); /* Moves the button to the right when checked */
}

.switch p {
  margin: 0; /* Removes default spacing */
  padding: 0; /* Ensures no additional spacing is present */
}
